@page
@{
    ViewData["Titles"] = "Criar Usuario";
}

<h1>Adicionar usuario</h1>
<h2>
    <label>Nome</label>
    <p>
        <input />
    </p>
    <label>Senha</label>
    <p>
        <input />
    </p>
    <p>
        <button>Adicionar Usuario</button>
    </p>
</h2>