@{
    ViewData["Title"] = "Pagina Inicial";
}
<div class="text-center">
    <h1 class="display-4">Olá, bem vindo ao sistema de gerenciamento de horas do Ares</h1>
    <p>
        <a class="btn btn-primary" asp-page="/AddUser/Index.cshtml">Cadastrar Usuario</a>
    </p>
</div>
